{{#md-navbar name='Kerkdienst ge-Ember-ed'}}
  <!-- A workaround to get the "active" class
      to apply to the active <li> automatically -->
{{#link-to 'states' tagName='li'}}
  {{link-to 'Steden' 'states'}}
{{/link-to}}
{{#link-to 'nearby' tagName='li'}}
  {{link-to 'In mijn buurt' 'nearby'}}
{{/link-to}}
{{/md-navbar}}

<div class="container">
  {{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
