<div class="row">
  {{#each model as |hit|}}
    <div class="col s4">
    {{#md-card title=hit.station.name
               image=hit.station.image
               activator=true
               class='small'}}
      {{#md-card-content}}
        {{{hit.humanDistance}}}
      {{/md-card-content}}
      {{#md-card-reveal}}
        {{{hit.station.description}}}
      {{/md-card-reveal}}
    {{/md-card}}
    </div>
  {{/each}}
</div>

{{#if hasMore}}
<button type='button' {{action 'loadMore'}} class='btn btn-primary btn-lg btn-block' disabled={{if isLoading 'disabled'}}>More <span class='caret'></span></button>
{{/if}}
